<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<p><a th:href="@{/user/list}">See the list of users</a>.</p>
<p><a th:href="@{/household/list}">See the list of households</a>.</p>
<p><a th:href="@{/item/list}">See the list of items</a>.</p>
<p><a th:href="@{/itemCategory/list}">See the list of item categories</a>.</p>
<p><a th:href="@{/householdItem/list}">See the list of household items</a>.</p>

</body>
</html>